[Unit]
Description=Serval - ASI detector server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=asi
Group=asi
StandardInput=null
WorkingDirectory=/home/asi/Serval/20230424_ASI_Server_3.2.0
ExecStart=/usr/bin/java -jar serval-3.2.0.jar
ExecStop=/usr/bin/curl -X GET http://localhost:8080/server/shutdown
ExecStartPost=/usr/bin/sleep 5
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
RequiredBy=tpx3app.service
